<table class="table table-bordered" id="customersDataTable" width="100%" cellspacing="0" data-turbolinks="false">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name </th>
            <th>Phone Number</th>
            <th>Suspend/Resume</th>
            <th>Manage Plan</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
        <tr data-id="<%= customer.id %>" data-email="<%= customer.email %>">
            <td>
                <%= customer.email %>
            </td>
            <td>
                <%= customer.first_name + ' ' + customer.last_name %>
            </td>
            <td>
                <%= customer.phone_number %>
            </td>
            <td>
                <% active_plan = customer.get_active_plan %>
                <% suspend_plan = customer.get_suspend_plan%>
                <% if active_plan.present? %>
                <button name="button" type="submit" class="btn btn-primary suspend_resume_plan warning_button" data-is-active=true data-id="<%= active_plan.id %>">
                    Suspend
                </button>
                <% elsif suspend_plan.present? %>
                <button name="button" type="submit" class="btn btn-primary suspend_resume_plan" data-is-active=false data-id="<%= suspend_plan.id %>">
                    Resume
                </button>
                <% else %>
                NA
                <% end%>
            </td>
            <td>
                <a class="btn" style="color:green;" href="<%= customer_show_path(customer.id) %>" data-turbolinks-action="replace">
                    <u>Manage Plan</u></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>