<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="<%= root_path %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="<%= root_path %>">Customers</a>
    </li>
    <li class="breadcrumb-item active">
        <%= @customer.first_name + ' ' + @customer.last_name %>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <b class="customer_title">Customer Info</b>
    </div>
    <div class="card-body">
        <div class="table-responsive customer_table_wrap">
            <%= render "customers/partial/customer_info" %>
        </div>
    </div>
</div>
<div class="card mb-3" id="customer_plans" data-id="<%= @customer.id %>">
    <%= render "customers/partial/customer_plan" %>
</div>
<script>
// function initialize_customer_dataTable() {
//     $('#customerDataTable').DataTable({
//         "ordering": false,
//     })
// }

$(document).on("click", ".activate_future_plan", function() {
    if (confirm('Are you sure you want to Activate this plan.?')) {
        var self = $(this);
        var customer_id = $('#customer_plans').data('id');
        var plan_id = $(this).data('id');
        $(this).parents('.future_dropdown_plans').find('.future_plan').attr('disabled', 'true');

        function onSuccess(data) {
            if (data != null) {
                $('#customer_plans').html(data);
                // initialize_customer_dataTable();
                // alert("Plan created successfully");
                notification('Plan created successfully', 'info');
            } else {
                $(this).parents('.future_dropdown_plans').find('.future_plan').removeAttr('disabled');
                // alert("Please try again.");
                notification("Please try again.", "error");
            }
        }

        function onError(reponse) {
            $(this).parents('.future_dropdown_plans').find('.future_plan').removeAttr('disabled');
            // alert("Please try again.");
            notification("Please try again.", "error");
        }
        activate_plan_for_future(customer_id, plan_id, onSuccess, onError);
    }
});

function activate_plan_for_future(customer_id, plan_id, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in application.html.erb
        url: "/activate_plan",
        data: { id: customer_id, plan_id: plan_id, origin: 'future' },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (errorcb) errorcb(exception);
        }
    });
}

$(document).on("click", ".change_validity", function() {
    if (confirm('Are you sure you want to change validity?')) {
        var customer_id = $('#customer_plans').data('id');
        var new_plan_id = $(this).data('id');
        var active_plan_id = $(this).closest('.customer_plan').data('id');
        var self = this;
        $(this).parents('.change_validity_dropdown_plans').find('.change_validity_button').attr('disabled', 'true');
        function onSuccess(data) {
            if (data['message'] != null) {
                $(self).parents('.change_validity_dropdown_plans').find('.change_validity_button').removeAttr('disabled');
                // alert(data['message']);
                notification(data['message'], "warn");
            } else if (data != null) {
                $('#customer_plans').html(data);
                // initialize_customer_dataTable();
                // alert("Plan changed successfully.");
                notification("Plan changed successfully.", "info");
            }
        }

        function onError(reponse) {
            $(self).parents('.change_validity_dropdown_plans').find('.change_validity_button').removeAttr('disabled');
            // alert("Please try again.");
            notification("Please try again.", "info");

        }
        change_validity_of_plan(customer_id, new_plan_id, active_plan_id, onSuccess, onError);
    }
});

function change_validity_of_plan(customer_id, new_plan_id, active_plan_id, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in application.html.erb
        url: "/change_plan_validity",
        data: { id: customer_id, cust_plan_id: active_plan_id, plan_id: new_plan_id },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (errorcb) errorcb(exception);
        }
    });
}

$(document).on("click", ".send_license_key", function() {
    if (confirm('Are you sure you want to send License key?')) {
        var customer_id = $('#customer_plans').data('id');
        var plan_id = $(this).data('id');
        var self = this
        $(this).text('Please Wait');
        $(this).attr('disabled', true);
        $.ajax({
            type: "POST",
            beforeSend: setCsrfToken,
            url: "/send_license_key",
            data: { id: customer_id, cust_plan_id: plan_id },
            success: function(data) {
                if (data['message'] == true) {
                    // alert("License Key successfully sent via email");
                    notification("License Key successfully sent via email", "info");
                    $(self).removeAttr('disabled');
                    $(self).text('Resend License key to Email');
                } else {
                    notification(data['message'], "error");
                    $(self).text('Send License key to Email');
                    $(self).removeAttr('disabled');
                }
            },
            error: function(exception) {
                // alert("Please try again.");
                notification("Please try again..", "error");
                $(self).text('Send License key to Email');
                $(self).removeAttr('disabled');
            }
        });
    }
});

function activate_plan(customer_id, plan_id, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in application.html.erb
        url: "/activate_plan",
        data: { id: customer_id, plan_id: plan_id },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (errorcb) errorcb(exception);
        }
    });
}

$(document).on("click", ".license_key", function() {
    var value = $(this).text().trim();
    var temp = $("<input>");
    $("body").append(temp);
    temp.val(value).select();
    document.execCommand("copy");
    temp.remove();
    notification("License key copied.", "info");

});

// $(document).ready(function() {
//     initialize_customer_dataTable();
// });

$(document).on("click", ".suspend_resume_plan_customer", function() {
    var customer_id = $('#customer_plans').data('id');
    var plan_id = $(this).data('id');
    var is_active = $(this).data('isActive');
    $(this).text('Please Wait');
    $(this).attr('disabled', true);

    function onSuccess(data) {
        if (data != null) {
            $('#customer_plans').html(data);
            notification("Plan status has been changed.", "info");
        } else {
            // alert("Please try again.");
            notification("Please try again.", "error");
        }
    }

    function onError(reponse) {
        // alert("Please try again.");
        notification("Please try again.", "error");
    }
    suspend_resume_plan_customer(customer_id, plan_id, is_active, onSuccess, onError)
});

function suspend_resume_plan_customer(cust_id, plan_id, is_active, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken,
        url: "/suspend_resume_plan",
        data: { id: cust_id, is_active: is_active, cust_plan_id: plan_id, origin: 'customer_page' },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (successcb) successcb(data);
        }
    });
}
</script>